h1{
    color: red;
    text-align: center;
    font-size: 60px;
    padding: 40px;
}

body{
    background-color: black;
}

h2{
    color: red;
    text-align: center;
    font-size: 40px;
}

.buttonsdiv{
    text-align: center;
}

.buttons{
    font-size: 39px;
}